{
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "new-cap": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-no-bind": "off",
    "no-shadow": "off"
  }
}